@charset "UTF-8";
/* line 10, includes/_nav.scss */
.navigation {
  height: 70px;
  background: #0e3c62; }

/* line 16, includes/_nav.scss */
.brand {
  position: absolute;
  padding: 5px;
  margin-left: 10px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em; }
  /* line 24, includes/_nav.scss */
  .brand a,
  .brand a:visited {
    color: #ffffff;
    text-decoration: none; }
  /* line 29, includes/_nav.scss */
  .brand img {
    margin-top: 15px; }

/* line 35, includes/_nav.scss */
.nav-container {
  max-width: 1000px;
  margin: 0 auto; }

/* line 41, includes/_nav.scss */
nav {
  float: right; }
  /* line 43, includes/_nav.scss */
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    /* line 47, includes/_nav.scss */
    nav ul li {
      float: left;
      position: relative; }
      /* line 50, includes/_nav.scss */
      nav ul li a,
      nav ul li a:visited {
        display: block;
        padding: 0 20px;
        line-height: 70px;
        background: #0e3c62;
        color: #ffffff !important;
        text-decoration: none; }
        /* line 58, includes/_nav.scss */
        nav ul li a:hover,
        nav ul li a:visited:hover {
          background: #2581dc;
          color: #ffffff !important;
          text-decoration: none; }
        /* line 63, includes/_nav.scss */
        nav ul li a:not(:only-child):after,
        nav ul li a:visited:not(:only-child):after {
          padding-left: 4px;
          content: " ▾"; }
      /* line 68, includes/_nav.scss */
      nav ul li ul li {
        min-width: 190px; }
        /* line 70, includes/_nav.scss */
        nav ul li ul li a {
          padding: 15px;
          line-height: 20px; }

/* line 80, includes/_nav.scss */
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15); }

/* Mobile navigation */
/* line 90, includes/_nav.scss */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #0e3c62;
  height: 70px;
  width: 70px; }

@media only screen and (max-width: 750px) {
  /* line 101, includes/_nav.scss */
  .nav-mobile {
    display: block; }

  /* line 104, includes/_nav.scss */
  nav {
    width: 100%;
    padding: 70px 0 15px; }
    /* line 107, includes/_nav.scss */
    nav ul {
      display: none; }
      /* line 109, includes/_nav.scss */
      nav ul li {
        float: none; }
        /* line 111, includes/_nav.scss */
        nav ul li a {
          padding: 15px;
          line-height: 20px; }
        /* line 115, includes/_nav.scss */
        nav ul li ul li a {
          padding-left: 30px; }

  /* line 121, includes/_nav.scss */
  .nav-dropdown {
    position: static; } }
@media screen and (min-width: 750px) {
  /* line 126, includes/_nav.scss */
  .nav-list {
    display: block !important; } }
/* line 130, includes/_nav.scss */
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 26px;
  cursor: pointer;
  padding: 10px 35px 16px 0px; }
  /* line 136, includes/_nav.scss */
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out; }
  /* line 149, includes/_nav.scss */
  #nav-toggle span:before {
    top: -10px; }
  /* line 152, includes/_nav.scss */
  #nav-toggle span:after {
    bottom: -10px; }
  /* line 155, includes/_nav.scss */
  #nav-toggle.toggle span {
    background-color: transparent; }
    /* line 157, includes/_nav.scss */
    #nav-toggle.toggle span:before, #nav-toggle.toggle span:after {
      top: 0; }
    /* line 161, includes/_nav.scss */
    #nav-toggle.toggle span:before {
      transform: rotate(45deg); }
    /* line 164, includes/_nav.scss */
    #nav-toggle.toggle span:after {
      transform: rotate(-45deg); }

/* line 170, includes/_nav.scss */
.active {
  border-bottom: 4px solid #ffffff; }

/* line 174, includes/_nav.scss */
header.ui-header.ui-bar-inherit {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }

/* line 23, student3.scss */
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; }

/* line 27, student3.scss */
footer {
  padding: 1em; }

/* line 31, student3.scss */
a {
  text-decoration: none; }
  /* line 33, student3.scss */
  a:hover {
    text-decoration: underline; }

/* line 38, student3.scss */
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
  font-weight: 400; }

/* line 42, student3.scss */
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited {
  border-color: #dddddd; }

/* line 46, student3.scss */
.img.ipad {
  display: none; }
  @media only screen and (min-width: 760px) and (max-width: 1024px) {
    /* line 46, student3.scss */
    .img.ipad {
      width: 100px;
      height: 140px;
      display: block; } }

/* line 55, student3.scss */
.ui-listview > .ui-li-has-thumb > .ui-btn, .ui-listview > .ui-li-static.ui-li-has-thumb {
  min-height: 1.25em;
  padding-left: 1.25em; }

@media only screen and (min-width: 760px) and (max-width: 1024px) {
  /* line 61, student3.scss */
  .ui-listview > .ui-li-has-thumb > .ui-btn, .ui-listview > .ui-li-static.ui-li-has-thumb {
    min-height: 3.625em;
    padding-left: 6.25em; } }
/* line 68, student3.scss */
.best-stores li a:hover {
  background-color: #a3bcdf; }

/* line 73, student3.scss */
.ui-btn.ui-checkbox-off:after {
  background-color: white; }

/* line 77, student3.scss */
.ui-radio .ui-btn-icon-left:after {
  background-color: transparent;
  background-color: #ffffff; }

/* line 82, student3.scss */
.ui-grid-b > .ui-block-a, .ui-grid-b > .ui-block-b, .ui-grid-b > .ui-block-c {
  width: 33.333%; }
  @media only screen and (max-width: 760px) {
    /* line 82, student3.scss */
    .ui-grid-b > .ui-block-a, .ui-grid-b > .ui-block-b, .ui-grid-b > .ui-block-c {
      width: 100%; } }

/* line 89, student3.scss */
.news-heading {
  margin-bottom: 5px; }

/* line 93, student3.scss */
.news-block {
  margin-bottom: 20px; }

/* line 97, student3.scss */
.img-book-store {
  width: 100%; }

/* line 101, student3.scss */
.store-info {
  padding-left: 2%; }
  @media only screen and (max-width: 760px) {
    /* line 101, student3.scss */
    .store-info {
      padding-left: none; } }

/* line 108, student3.scss */
button.goback-btn.ui-btn {
  margin: 24px;
  left: -46px; }

/* line 113, student3.scss */
.ui-content {
  margin-top: 80px; }

/* line 117, student3.scss */
.map {
  height: 400px;
  width: 100%; }

@media only screen and (max-width: 760px) {
  /* line 125, student3.scss */
  .ui-block-a, .ui-block-b, .ui-block-c, .ui-block-d, .ui-block-e {
    width: 100% !important;
    float: none; }

  /* line 129, student3.scss */
  .store-info {
    padding-left: 0%; } }
@media only screen and (min-width: 760px) and (max-width: 1024px) {
  /* line 135, student3.scss */
  .ui-block-a, .ui-grid-b > .ui-block-b, .ui-grid-b > .ui-block-c {
    width: 50%; }

  /* line 138, student3.scss */
  .ipad-paragraph {
    margin: 0; } }
/* line 143, student3.scss */
.iframe-map {
  width: 400;
  height: 300; }
  @media only screen and (max-width: 760px) {
    /* line 143, student3.scss */
    .iframe-map {
      width: 350;
      height: 200; } }

/* line 153, student3.scss */
.loyalty {
  padding: 20px;
  text-align: center;
  background: white; }

/* line 159, student3.scss */
.loyalty-points {
  margin: 0;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  overflow: hidden;
  border: none;
  font: normal 70px/1 "VT323", Helvetica, sans-serif;
  color: #0e3c62;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 5px 5px 0 white; }

/* line 175, student3.scss */
.coupon {
  border: 5px dotted #bbb;
  width: 40%;
  border-radius: 15px;
  margin: 0 auto;
  max-width: 400px; }

/* line 183, student3.scss */
.container-coupon {
  padding: 2px 16px;
  background-color: #f1f1f1; }

/* line 188, student3.scss */
#share-buttons img {
  width: 35px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline; }

/* line 200, student3.scss */
#share-buttons a:hover {
  text-decoration: none; }

@media only screen and (max-width: 760px) {
  /* line 205, student3.scss */
  .ipad-only {
    display: none; } }

/* line 211, student3.scss */
#v {
  width: 320px;
  height: 240px; }

/* line 216, student3.scss */
#qr-canvas {
  display: none; }

/* line 220, student3.scss */
#qrfile {
  width: 320px;
  height: 240px; }

/* line 225, student3.scss */
#mp1 {
  text-align: center;
  font-size: 35px; }

/* line 230, student3.scss */
#imghelp {
  color: white;
  position: relative;
  left: 0px;
  top: -190px;
  z-index: 100;
  font: 18px arial, sans-serif;
  background: #0e3c62;
  margin-left: 35px;
  margin-right: 35px;
  padding: 20px;
  border-radius: 20px; }

/* line 244, student3.scss */
.selector {
  margin: 0;
  padding: 0;
  cursor: pointer;
  margin-bottom: -4px; }

/* line 251, student3.scss */
#outdiv {
  width: 320px;
  height: 240px;
  border: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #0e3c62; }

/* line 259, student3.scss */
.tsel {
  padding: 0; }

/* line 262, student3.scss */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #0e3c62;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite; }

@media only screen and (max-width: 760px) {
  /* line 272, student3.scss */
  .blackwell-voucher img {
    width: 100%; } }

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/* line 289, student3.scss */
.error-message, .error-message-adult-qty, .error-message-child-qty, .error-message-oap-qty {
  color: red; }

/*# sourceMappingURL=student3.css.map */
