@import 'includes/_nav';

$font-stack: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;

$primary: #0e3c62;
$secondary-1: #569ad1;
$secondary-2: #a3bcdf;

@mixin respond-to($media) {
   @if $media == iphone{
    @media only screen and (max-width: 760px) {
       @content;
    }
  }
  @else if $media == ipad {
     @media only screen and (min-width: 760px) and (max-width: 1024px){
      @content;
    }
  }
}


body {
  font-family: $font-stack;
}

footer {
  padding: 1em;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
  font-weight: 400;
}

.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited {
    border-color: #dddddd;
}

.img.ipad {
  display: none;
  @include respond-to(ipad) {
    width: 100px;
    height: 140px;
    display: block;
  }
}

.ui-listview>.ui-li-has-thumb>.ui-btn, .ui-listview>.ui-li-static.ui-li-has-thumb {
  min-height: 1.25em;
  padding-left: 1.25em;
}

@include respond-to(ipad) {
  .ui-listview>.ui-li-has-thumb>.ui-btn, .ui-listview>.ui-li-static.ui-li-has-thumb {
    min-height: 3.625em;
    padding-left: 6.25em;
  }
}

.best-stores li a {
  &:hover {
    background-color: $secondary-2;
  }
}

.ui-btn.ui-checkbox-off:after {
  background-color: white;
}

.ui-radio .ui-btn-icon-left:after {
  background-color: transparent /*{global-icon-color}*/;
  background-color: #ffffff /*{global-icon-disc}*/;
}

.ui-grid-b>.ui-block-a, .ui-grid-b>.ui-block-b, .ui-grid-b>.ui-block-c {
  width: 33.333%;
  @include respond-to(iphone) {
    width: 100%;
  }
}

.news-heading {
  margin-bottom: 5px;
}

.news-block {
  margin-bottom: 20px;
}

.img-book-store {
    width: 100%;
}

.store-info {
  padding-left: 2%;
  @include respond-to(iphone) {
    padding-left: none;
  }
}

button.goback-btn.ui-btn {
  margin: 24px;
  left: -46px;
}

.ui-content {
    margin-top: 80px;
}

.map {
  height: 400px;
  width: 100%;
}

// This breaks the grids in mobile view

  @include respond-to(iphone) {
    .ui-block-a, .ui-block-b, .ui-block-c, .ui-block-d, .ui-block-e {
      width: 100% !important;
      float: none;
    }
    .store-info {
      padding-left: 0%;
    }
  }

    @include respond-to(ipad) {
    .ui-block-a, .ui-grid-b > .ui-block-b, .ui-grid-b > .ui-block-c {
      width: 50%;
    }
    .ipad-paragraph {
      margin: 0;
    }
  }

  .iframe-map {
    width: 400;
    height: 300;

    @include respond-to(iphone) {
      width: 350;
      height: 200;
    }
  }

.loyalty {
  padding: 20px;
  text-align: center;
  background: white;
}

.loyalty-points{
  margin: 0;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  overflow: hidden;
  border: none;
  font: normal 70px/1 "VT323", Helvetica, sans-serif;
  color: #0e3c62;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 5px 5px 0 rgba(255,255,255,1) ;
}

.coupon {
    border: 5px dotted #bbb;
    width: 40%;
    border-radius: 15px;
    margin: 0 auto;
    max-width: 400px;
}

.container-coupon {
    padding: 2px 16px;
    background-color: #f1f1f1;
}

#share-buttons img {
  width: 35px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
  &:hover {
    
  }
}

#share-buttons a {
  &:hover {
    text-decoration: none;
  }
}

.ipad-only {
  @include respond-to(iphone) {
    display: none;
  }
}

#v {
  width: 320px;
  height: 240px;
}

#qr-canvas {
  display: none;
}

#qrfile {
  width: 320px;
  height: 240px;
}

#mp1 {
  text-align: center;
  font-size: 35px;
}

#imghelp {
  color: white;
  position: relative;
  left: 0px;
  top: -190px;
  z-index: 100;
  font: 18px arial, sans-serif;
  background: #0e3c62;
  margin-left: 35px;
  margin-right: 35px;
  padding: 20px;
  border-radius: 20px;
}

.selector {
  margin: 0;
  padding: 0;
  cursor: pointer;
  margin-bottom: -4px;
}

#outdiv {
  width: 320px;
  height: 240px;
  border: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #0e3c62;
}

.tsel {
  padding: 0;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #0e3c62;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.blackwell-voucher img {
  @include respond-to(iphone) {
    width: 100%;
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.error-message {
    color: red;
}